
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBookLabel">Create or edit a Book</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.book.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.book.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.book.title"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                    ng-model="vm.book.author"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numberOfBooks">Number Of Books</label>
            <input type="number" class="form-control" name="numberOfBooks" id="field_numberOfBooks"
                    ng-model="vm.book.numberOfBooks"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_availability">Availability</label>
            <input type="checkbox" class="form-control" name="availability" id="field_availability"
                    ng-model="vm.book.availability"
                     />
            <div ng-show="editForm.availability.$invalid">
                <p class="help-block"
                    ng-show="editForm.availability.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_issuedDate">Issued Date</label>
                <div class="input-group">
                    <input id="field_issuedDate" type="text" class="form-control" name="issuedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.book.issuedDate" is-open="vm.datePickerOpenStatus.issuedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('issuedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_returningDate">Returning Date</label>
                <div class="input-group">
                    <input id="field_returningDate" type="text" class="form-control" name="returningDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.book.returningDate" is-open="vm.datePickerOpenStatus.returningDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('returningDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_stackNumber">Stack Number</label>
            <input type="text" class="form-control" name="stackNumber" id="field_stackNumber"
                    ng-model="vm.book.stackNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_departmentType">Department Type</label>
            <input type="text" class="form-control" name="departmentType" id="field_departmentType"
                    ng-model="vm.book.departmentType"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
